block variables
include mixins

doctype html
html
  head
    meta(charset="utf-8")
    title #{title}
    meta(content="" name="author")
    meta(content="" name="description")
    meta(content="" name="keywords")
    meta(content="width=device-width, initial-scale=1" name="viewport")
    meta(content="ie=edge" http-equiv="x-ua-compatible")

    //- favicon block start
    //- favicon block end

    link(rel='stylesheet' href='/assets/css/foundation.css')
    link(rel='stylesheet' href='/assets/css/app.css')
    script(src='/assets/js/foundation.js' defer)
    script(src='/assets/js/app.js' defer)

    <!--[if lt IE 9]>
    script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
    <![endif]-->

  body
    .preloader
        .preloader__spinner
            .preloader__animation
                svg(viewBox='0 0 80 95.113', class='wave')
                    g
                        path(class='first' fill="none" stroke="#fff" stroke-width="3.9003" stroke-miterlimit="10" d="M0,38.005c6.663,0,6.663,7.801,13.327,7.801 c6.665,0,6.665-7.801,13.33-7.801c6.667,0,6.667,7.801,13.334,7.801c6.666,0,6.666-7.801,13.331-7.801 c6.67,0,6.67,7.801,13.339,7.801S73.33,38.005,80,38.005")
                    g
                        path(class='second' fill="none" stroke="#fff" stroke-width="3.9003" stroke-miterlimit="10" d="M0,61.684c6.663,0,6.663,7.801,13.327,7.801 c6.665,0,6.665-7.801,13.33-7.801c6.667,0,6.667,7.801,13.334,7.801c6.666,0,6.666-7.801,13.331-7.801 c6.67,0,6.67,7.801,13.339,7.801S73.33,61.684,80,61.684")
                    g
                        path(class='third' fill="none" stroke="#fff" stroke-width="3.9003" stroke-miterlimit="10" d="M0,85.362c6.663,0,6.663,7.801,13.327,7.801 c6.665,0,6.665-7.801,13.33-7.801c6.667,0,6.667,7.801,13.334,7.801c6.666,0,6.666-7.801,13.331-7.801 c6.67,0,6.67,7.801,13.339,7.801S73.33,85.362,80,85.362")
                    text.preloader__text#preloader_text(transform="matrix(1 0 0 1 19.9785 20.5957)" font-family="'ArialMT'" font-size="22") 0%
    nav.navigate#navigate
        ul.navigate-top.navigate-top-animate#navTop
            li.navigate-top__item
                a.navigate-top__link(href='works.html') Мои работы
            li.navigate-top__item
                a.navigate-top__link(href='blog.html') Блог
            li.navigate-top__item
                a.navigate-top__link(href='aboutme.html') Обо мне
            li.navigate-top__item
                a.navigate-top__link(href='welcome.html') Авторизация
    .wrapper
        block content