footer.footer
	.footer__top
		.footer-top__caption
			p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. 
		.footer-top__navigation
			nav.navigation
				ul.navigation__items
					li.item
						a.item__link Мои работы
					li.item
						a.item__link Обо мне
					li.item
						a.item__link Блог
					li.item
						a.item__link Авторизация
			.header__icons
				ul.icons
					li.icons__item
						a.icons__link.icons__link_vk
							+svg('vk', 'icon-vk')
					li.icons__item
						a.icons__link.icons__link_github
							+svg('github', 'icon-git')
					li.icons__item
						a.icons__link.icons__link_in
							+svg('in', 'icon-in')
		.footer-top__quote
			blockquote
				p Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает, где вы живете.
				span — Martin Golding
	.footer__bottom
		span © Бурдюк Алексей | Создано с любовью в LoftSchool | 2016