.map
	.map__contacts
		.contacts
			h1.main-title-min Контакты
			ul.contacts__list
				li.contacts__item
					a(href='skype:leeshqa', class='contacts__link')
						i.fa.fa-skype
						| leeshqa
				li.contacts__item
					a(href='mailto:justkiddinglesha@gmail.com', class='contacts__link')
						i.fa.fa-envelope
						| justkiddinglesha@gmail.com
				li.contacts__item 
					a(href='tel:+375298425926', class='contacts__link')
						i.fa.fa-phone
						| +375(29) 8425926
				li.contacts__item
					a(href='https://yandex.ru/maps/-/CZD8BN4M', class='contacts__link')
						i.fa.fa-map-marker  
						| Минск, ул.Космонавтов, д.3, кв.3