.map
	.map__contacts
		.contacts
			h1.contacts__title Контакты
			ul.contacts__list
				li.contacts__item
					i.fa.fa-skype
					| leeshqa
				li.contacts__item
					i.fa.fa-envelope
					| justkiddinglesha@gmail.com
				li.contacts__item 
					i.fa.fa-phone
					| +375(29) 8425926
				li.contacts__item
					i.fa.fa-map-marker  
					| Минск, ул.Космонавтов, д.63