.portfolio
	.portfolio__svg-background
		svg
			use(xlink:href='assets/img/sprite.svg#works_header')
	h1.title Мои работы
	.portfolio__section
		.section__info
			h3 Сайт школы онлайн<br> образования
			span HTML , CSS, JAVASCRIPT
			a(href='#', class='section__link') Посмотреть сайт
		.section__slider
			.slider__current-item
				.current-item__wrapper
			nav.slider__navigation
				a(href='#' class='prev-slide')
					svg.prev-slide__arrow
						use(xlink:href='assets/img/sprite.svg#portf_arrow_down')
				a(href='#' class='next-slide')
					svg.next-slide__arrow
						use(xlink:href='assets/img/sprite.svg#portf_arrow_up')
				