.about {
	position: relative;
	background-image: url('../img/footer.jpg');
	background-size: cover;
	background-position: center center;
	padding-bottom: 270px;
}

.about__title-wrapper {
	width: 350px;
	margin: 0 auto;
}

.about__title-background {
	fill: #eef4e1;
	width: 506px;
	height: 165px;
	position: absolute;
	top: -32px;
	left: 50%;
	margin-left: -253px;
}

.about__reviews {
	width: 800px;
	margin: 0 auto;
	@include clearfix	
}

.review-item {
	width: 50%;
	float: left;
	padding: 0 10px;
	text-align: center;
	font-family: 'roboto-italic';
	font-weight: 500;	
}

.review-item__text {
	color: #5d5a55;
	font-size: 16px;
	font-family: 'roboto-italic';
	text-align: justify;
}

.review-item__author {
	color: #4e8839;
	font-family: 'roboto-bold-italic';
}

.review-item__author-post {
	color: #373e42;
	font-size: 16px;
	text-align: center;
	margin-top: 5px;
}

.about__contact-form {
	margin-top: 70px;
}

.contact-form {
	width: 380px;
	margin: 0 auto;
	background: rgba(218,219,214, 0.6);
	border-radius: 10px;
	text-align: center;
	padding: 30px 0 0;
	position: relative;
	margin-bottom: 50px;
}

.contact-form__input {
	width: 340px;
	height: 45px;
	background: rgba(255,255,255,0.8);
	border-radius: 20px;
	border: none;
	margin-top: 20px;
	padding: 20px;
	outline: none;
}

.contact-form__textarea {
	width: 340px;
	height: 140px;
	background: (255,255,255,0.8);
	border-radius: 20px;
	border: none;
	margin-top: 20px;
	padding: 20px;
	resize: none;
	outline: none;
}

.contact-form__buttons {
	width: 100%;
	opacity: 0.85;
	border-radius: 0px 0px 10px 10px;
	margin-top: 15px;
	@include clearfix;
}

.button {
	width: 50%;
	float: left;
	height: 45px;
	border: none;
	color: #fff;
	font-family: 'roboto-medium';
	cursor: pointer;
	transition: all 0.3s;
}

.button:hover {
	background: #4e8839;
}

.button-left {
	border-radius: 0 0 0 10px;
	background: #6c9c5a;
	border-right: 1px solid #dee3e7;
}

.button-right {
	border-radius: 0 0 10px 0;
	background: #6c9c5a;
	border-left: 1px solid #dee3e7;
}

.arrow-up {
	position: relative;
	left: 50%;
	bottom: 0;
	margin-left: -13px;
	width: 26px;
	height: 20px;
	z-index: 3;
}

.arrow-up__link {
    display: inline-block;   
}

.arrow-up__link:hover .arrow-up__image {
    fill: #fff;
}

.arrow-up__image {
    width: 26px;
    height: 16px;
    fill: rgba(255,255,255,0.7);
}