.header__blog-title {
	font-family: 'sansus-regular';
	font-size: 62px;
	line-height: 62px;
	color: #fff;
	text-transform: uppercase;
	font-weight: normal;
	margin: 20px 0 50px 0;
	text-align: center;
	position: relative;
}

.header__blog-title:after {
	display: block;
	content: '';
	width: 90px;
	height: 3px;
	background: #fff;
	margin: 0 auto;
	position: relative;
	top: 15px;
}

.header__blog-title-wrapper {
	position: relative;
}

.header__blog-title-background {
	fill: rgba(255,255,255,0.12);
	width: 303px;
	height: 208px;
	position: absolute;
    left: 50%;
    margin-left: -151px;
    top: -53px;
}

.content-wrapper {
	padding: 50px 9% 212px 4%;
	@include clearfix;
}

.sidebar {
	text-align: right;
	width: 25%;
	float: left;
	padding-top: 9px;
}

.categories__item {
	margin-bottom: 7px;

	&:last-child {
		margin-bottom: 0;
	}
}

.categories__link {
	color: #455a64;
	font-family: 'roboto-regular';
	font-size: 16px;
	padding: 9px 19px 9px 0;
	display: block;
	line-height: 26px;
}

.categories__link_active {
	font-family: 'roboto-medium';
	color: #4e8839;
	font-size: 16px;
	border-right: 3px solid #4e8839;
}

.content {
	width: 65.57%;
	float: right;
	margin-left: 9.43%;
	position: relative;
}

.articles__title {
	margin-top: 0;
	margin-bottom: 21px;
	color: #455a64;
	font-family: 'sansus-regular';
	font-size: 35px;
	font-weight: normal;
}

.articles__date {
	color: #4e8839;
}

.acticles__text {
	color: #455a64;
	line-height: 26px;
	margin-top: 20px;
	margin-bottom: 10px;

	&:last-child {
		margin-top: 10px;
	}
}

.articles__item {
	border-bottom: 5px solid #f1f1f2;
	margin-bottom: 70px;
	padding-bottom: 70px;
	&:last-child {
		border-bottom: none;
		margin-bottom: 0;
	}
}