@media only screen and (max-width : 1800px) and (min-width : 1200px) {
	.about-me__info {
		padding: 0px 5% 40px 5%;
	}
	.about-me__info-title-wrapper {
		width: 100%;
		float: none;
	}
	.about-me__info-description {
		width: 100%;
		float: none;
	}
	.about-me__profile-photo-wrapper {
		margin-top: 30px;
	}
	.main-title_top  {
		letter-spacing: 2.2px;

		&:after {
			top: 23px;
		}
	}
	.main-title-min:after {
	    top: 12px;
	}
	.map__contacts .main-title-min:after {
	    top: 24px;
	}
	.about-me__profile-photo-wrapper {
	    margin-bottom: 29px;
	}
	.diagram__item {
		width: 110px;
		height: 110px;
		margin: 0 37px 20px 0;
	}
	.diagram__circle {
		width: 110px;
		height: 110px;
	}
	.diagram__circle-background {
		r: 45;
		cx: 55; 
		cy: 55; 
	}
	.diagram__circle-sector {
	    r: 45;
	    cx: 55;
	    cy: 55;
	}
	.diagram__name {
		font-size: 13px;
	}
	.about-me__skills {
		padding-right: 10px;
	}
	.item {
		margin-left: 13px;
	}
	.footer__navigation {
		padding: 0 25px;
	}
	.about-me__skills {
		padding: 0px 0px 35px 40px;
	}
	.about-me__skills-diagrams-frontend {
		margin-top: 46px;
	}
	.about-me__skills-diagrams-backend {
		margin-top: 14px;
	}
	.about-me__skills-diagrams-workflow {
		margin-top: 14px;
	}
	.map {
		padding-top: 234px;
		padding-bottom: 192px;
	}
	.map__contacts {
		width: 380px;
		margin-bottom: 240px;
		padding: 20px 40px 30px 40px;
	}
	.main-title-min_margin-none {
		margin-top: 0px;
		font-size: 35px;
	}
	.contacts__list {
		margin-top: 53px;
	}
	.about-me__skills .main-title-min_top {
		margin-left: -34px;
	}
	.quote__text {
		margin-bottom: 8px;
	}
	.about-me__info-title-background {
		top: -39px;
	}
	.contacts_hidden {
		display: none;
	}
	.info_small-screen {
		display: none;
	}
	.slider__current-item {
		padding: 110px 80px;
	}
	.slider__next-slide,
	.slider__previous-slide {
		background-size: auto 80%;
		background-position: center center;
	}
	.main-title_portfolio {
		margin-top: 51px;

		&:after {
			top: 23px;
		}
	}
	.info__link {
		margin-top: 57px;
	}
	.main-title-min_info {

		&:after {
			top: 24px;
		}
	}
	.main-title_reviews {
		line-height: 66px;
		margin-bottom: 60px;
		&:after {
			top: 30px;
		}
	}
	.review-item__text {
		line-height: 26px;
		margin-top: 10px;
		margin-bottom: 22px;
	}
	.about__contact-form {
		margin-top: 60px;
	}
	.contact-form {
		padding-top: 21px;
	}
	.arrow-up {
		bottom: -19px;
	}
	.main-title-min_form {
		margin-bottom: 35px;

		&:after {
			top: 23px;
		}
	}
}

@media only screen and (max-width : 1199px) and (min-width: 768px) {
	.about-me__info-title-wrapper {
		width: 100%;
		float: none;
	}
	.about-me__info-description {
		width: 100%;
		float: none;
	}
	.about-me__profile-photo-wrapper {
		margin-top: 30px;
	}
	.about-me__info,
	.about-me__skills {
		width: 100%;
		float: none;
		display: block;
	}
	.about-me {
		display: block;
	}
	.about-me__info {
		padding-top: 32px;
		padding-bottom: 33px;
		padding-left: 17%;
		padding-right: 17%;
	}
	.triangle__right {
		fill: #ebefe2;
	}
	.about-me__info-title-background {
		width: 250px;
		height: 88px;
		margin-left: -125px;
		top: -25%;
	}
	.main-title {
		font-size: 49px;
	}
	.header__svg {
		width: 738px;
		height: 198px;
		margin: -99px 0 0 -369px;
	}
	.about-me__skills {
		padding-right: 40px;
	}
	.about-me__skills-text {
    	margin: 0 15% 40px 15%;
    	line-height: 24px;
    }
    .about-me__skills-diagrams {
    	text-align: center;
    }
    .about-me__info-description-text {
    	font-size: 14px;
    }
    .about-me__skills-text {
    	font-size: 14px;
    }
    .diagram {
    	display: flex;
    	flex-flow: row wrap;
    	justify-content: center;
    }
    .diagram__item {
		width: 110px;
		height: 110px;
		margin: 0 37px 20px 0;
		float: none;
	}
	.diagram__circle {
		width: 110px;
		height: 110px;
	}
	.diagram__circle-background {
		r: 45;
		cx: 55; 
		cy: 55; 
	}
	.diagram__circle-sector {
	    r: 45;
	    cx: 55;
	    cy: 55;
	}
	.diagram__name {
		font-size: 13px;
	}
    .footer__caption,
    .footer__navigation {
    	width: 50%;
    }
    .footer__quote {
    	width: 100%;
    	margin-top: 45px;
    }
    .item__link {
		font-size: 14px;
    }
    .main-title-min {
    	font-size: 30px;
    	margin-top: 43px;
    }
    .about-me__skills {
    	padding-top: 0;
    }
    .main-title-min_top {
    	margin-bottom: 28px;
    }
    .about-me__skills-diagrams-title {
    	font-size: 21px;
    }
    .diagram__item {
		margin: 0 36px 20px 0;
	}
	.about-me__skills-diagrams-frontend {
		margin-bottom: 22px;
	}
	.about-me__skills-diagrams-backend {
		margin-bottom: 24px;
	}
	.footer__caption-text {
		font-size: 14px;
	}
	.footer__caption,
	.footer__navigation,
	.footer__quote {
		padding: 0 18px;
	} 
	.footer__navigation {
		padding-left: 30px;
	}
	.quote__author {
		font-size: 14px;
	}
	.quote__text {
		font-size: 14px;
	}
	.item {
    	margin-left: 15px;
	}
	.footer__copyright {
	    font-size: 14px;
	}
	.map {
		padding-top: 175px;
		padding-bottom: 206px;
	}
	.map__contacts {
		width: 350px;
		margin-bottom: 240px;
		padding: 20px 20px;
	}
	.main-title-min_margin-none {
		margin-top: 0px;
		font-size: 35px;
	}
	.contacts__list {
		margin-top: 40px;
	}
	.contacts_hidden {
		display: none;
	}
	.info_big-screen {
		display: none;
	}
	.slider {
		width: 100%;
	}
	.info__container {
		width: 100%;
	}
	.info_small-screen {
		width: 100%;
		display: block;
	}
	.about__reviews {
		width: 100%;
	}
	.main-title_portfolio {
		margin-bottom: 35px;

		&:after {
			top: 6px;
		}
	}
	.slider__current-item {
		padding-top: 105px;
		padding-bottom: 55px;
	}
	.slider {
		background: #fff;
	}
	.slider__current-item {
		background: #e1e4d7;
	}
	.info_small-screen {
		padding: 43px 0 60px 0;
	}
	.info .main-title-min {
		margin-top: 0;
	}
	.portfolio__title-background {
		width: 404px;
		height: 132px;
		margin-left: -202px;
		top: -42px;
	}
	.info__technologies {
		margin-top: 30px;
	}
	.main-title-min_info {
		margin-bottom: 26px;

		&:after {
			top: 13px;
		}
	}
	.info__link {
		margin-top: 37px;
	}
	.slider__next-slide,
	.slider__previous-slide {
		background-size: auto 90%;
		background-position: center center;
	}
	.slider__switches {
		height: 216px;
	}
	.slider__current-item {
		height: 528px;
	}
	.main-title_reviews {
		line-height: 52px;
		margin-top: 38px;
		margin-bottom: 45px;

		&:after {
			top: 9px;
		}
	}
	.about__reviews {
		padding: 0 15px;
	}
	.review-item__text {
		line-height: 24px;
		font-size: 14px;
		margin-bottom: 10px;
	}
	.main-title-min_form {
		margin-top: 0;
		font-size: 35px;
		margin-bottom: 33px;

		&:after {
			top: 22px;
		}
	}
	.about__contact-form {
		margin-top: 30px;
	}
	.contact-form {
		width: 350px;
	}
	.contact-form__input,
	.contact-form__textarea {
		width: 310px;
	}
	.about {
		padding-bottom: 320px;
	}
	.content-wrapper {
		padding: 42px 25px 270px;
	}
	.content {
		width: 100%;
	}
	.sidebar {
		display: none;
	}
	.articles__item {
		margin-bottom: 50px;
		padding-bottom: 50px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	.articles__title {
		font-size: 30px;
		line-height: 36px;
		margin-bottom: 8px;
	}
	.articles__date {
		font-size: 14px;
		line-height: 24px;
	}
	.acticles__text {
		font-size: 14px;
		line-height: 21px;
		margin-top: 8px;
	}
	.welcome__form,
	.login__form {
		width: 350px;
	}
	.flip-container, .front, .back {
		width: 350px;
	}
	.main-title-min_login {
		margin-top: 0;
	}
}

@media only screen and (max-width : 992px) {

}

@media only screen and (max-width : 768px) and (min-width: 320px) {
	.about-me__info-title-wrapper {
		width: 100%;
		float: none;
	}
	.about-me__info-description {
		width: 100%;
		float: none;
	}
	.about-me__info,
	.about-me__skills {
		width: 100%;
		float: none;
		display: block;
	}
	.about-me {
		display: block;
	}
	.triangle__right {
		fill: #ebefe2;
	}
	.about-me__info-title-background {
		width: 199px;
		height: 70px;
		margin-left: -100px;
		top: -13px;
	}
	.about-me__info .main-title.main-title_top {
		font-size: 35px;
	}
	.footer__caption,
	.footer__navigation,
	.footer__quote {
		width: 100%;
		text-align: center;
		border-right: none;
		border-left: none;
		border-bottom: 1px solid #5f6568;
		padding: 20px 0;
	}
	.footer__top {
		padding: 0 10px;
	}
	.footer__navigation .social-icons {
		position: relative;
		left: 50%;
		margin-left: -75px;
	}
	.item {
		margin-left: 5px;
	}
	.item__link {
		font-size: 14px;
	}
	.map {
		height: 864px;
		background-position: center right;
	}
	.map .map__contacts {
		display: none;
	}
	.contacts {
		padding: 22px 20px 20px 20px;

	}
	.diagram {
		display: flex;
    	flex-flow: row wrap;
    	justify-content: space-around;
    }
    .diagram__item {
		width: 110px;
		height: 110px;
		margin: 0 0px 29px 0;
		float: none;
	}
	.diagram__circle {
		width: 110px;
		height: 110px;
	}
	.diagram__circle-background {
		r: 45;
		cx: 55; 
		cy: 55; 
	}
	.diagram__circle-sector {
	    r: 45;
	    cx: 55;
	    cy: 55;
	}
	.diagram__name {
		font-size: 13px;
	}
	.about-me__skills {
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 25px;
	}
	.about-me__skills-diagrams {
    	text-align: center;
    }
    .about-me__profile-photo-wrapper {
	    margin-top: 26px;
	    margin-bottom: 30px;
	}
	.about-me__info-description {
		padding: 0;
		padding-bottom: 25px;
	}
	.about-me__info {
		padding: 0;
	}
	.about-me__info-description-text {
		padding: 0 10px;
	}
	.caption__title {
		font-size: 21px;
	}
	.caption__description {
		font-size: 14px;
	}
	.arrow-down {
		bottom: 50px;
	}
	.about-me__info .main-title.main-title_top {
		margin-top: 8px;

		&:after {
			top: 13px;
			width: 56px;
		}
	}
	.about-me__info-title-background {
		top: -8px;
	}
	.main-title-min {
		font-size: 21px;

		&:after {
			width: 56px;
		}
	}
	.about-me__skills .main-title-min_top {
		margin-left: 50px;
		margin-right: 50px;
		margin-bottom: 24px;
		line-height: 28px;
	}
	.about-me__skills-diagrams-title {
		font-size: 21px;
	}
	.contacts .main-title-min {
		font-size: 35px;
	}
	.about-me__skills {
		padding-bottom: 0;
	}
	.contacts__list {
		margin-top: 30px;
	}
	.header__svg {
		display: none;
	}
	.portfolio__title-background {
		width: 254px;
		height: 84px;
		margin-left: -127px;
		top: -23px;
	}
	.main-title_portfolio {
		font-size: 35px;
		line-height: 42px;
		margin-top: 18px;
		margin-bottom: 30px;

		&:after {
			top: 12px;
			width: 56px;
		}
	}
	.info_big-screen {
		display: none;
	}
	.slider__current-item {
		padding: 45px;
		height: 254px;
		background: #e1e4d7;
	}
	.info__container {
		width: 100%;
	}
	.slider {
		width: 100%;
		background: #fff;
	}
	.info_small-screen {
		width: 100%;
		display: block;
		padding: 30px 0;
	}
	.about__reviews {
		width: 100%;
	}
	.slider__switches {
		height: 100px;
	}
	.slider__previous-slide {
		padding: 10px;
	}
	.slider__previous-slide,
	.slider__next-slide {
	    background-position: center center;
	    background-size: auto 85%;
	}
	.main-title_reviews {
		font-size: 35px;
		line-height: 42px;
	}
	.about__title-background {
		display: none;
	}
	.about__title-wrapper {
		width: 250px;
	}
	.review-item {
		float: none;
		width: 100%;
	}
	.about {
		padding-bottom: 440px;
	}
	.contact-form {
		width: 300px;
	}
	.contact-form__input,
	.contact-form__textarea {
		width: 260px;
	}
	.main-title-min_info {
		line-height: 28px;
	}
	.info__technologies {
		font-size: 14px;
		margin-top: 31px;
	}
	.info__link {
		width: 186px;
		height: 40px;
		font-size: 14px;
		padding: 10px 10px 10px 10px;
		margin-top: 15px;
	}
	.info__link .fa {
		font-size: 18px;
	}
	.main-title_reviews {
		margin-bottom: 43px;
		&:after {
			width: 56px;
		}
	}
	.review-item__image {
		display: inline-block;
		width: 50px;
		height: 50px;
	}
	.review-item__text {
		font-size: 14px;
		line-height: 24px;
		margin-top: 8px;
		margin-bottom: 8px;
	}
	.review-item__author {
		font-size: 14px;
	}
	.review-item__author-post {
		font-size: 14px;
		margin-top: 9px;
	}
	.review-item:last-child {
		margin-top: 36px;
	}
	.about__contact-form {
		margin-top: 28px;
	}
	.main-title-min_form {
		margin-bottom: 14px;
		&:after {
			width: 90px;
		}
	}
	.contact-form__input {
		height: 40px;
	}
	.footer__caption-text,
	.quote__text,
	.footer__copyright {
		font-size: 14px;
	}
	.content-wrapper {
		padding: 27px 10px 390px;
	}
	.content {
		width: 100%;
	}
	.sidebar {
		display: none;
	}
	.articles__item {
		margin-bottom: 25px;
		padding-bottom: 25px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	.articles__title {
		font-size: 21px;
		line-height: 28px;
		margin-bottom: 8px;
	}
	.articles__date {
		font-size: 14px;
		line-height: 24px;
	}
	.acticles__text {
		font-size: 14px;
		line-height: 21px;
		margin-top: 8px;
	}
	.header__blog-title {
		font-size: 35px;
		line-height: 42px;
		margin-bottom: 30px;

		&:after {
			width: 56px;
		}
	}
	.welcome__form,
	.login__form {
		width: 300px;
	}
	.flip-container, .front, .back {
		width: 300px;
	}
	.main-title-min_login {
		margin-top: 0;
	}
	.copyright {
		font-size: 14px;
	}
	.welcome__top-line {
		padding: 20px 0;
		text-align: center;
	}
	.welcome__login-link {
		float: none;
	}
	.header__info {
		width: 100%;
	}
	.main-title-min_login  {
		font-size: 30px;
	}
}