.portfolio {
	position: relative;
}

.portfolio__title-background {
	fill: #eef4e1;
	width: 506px;
	height: 165px;
	position: absolute;
	top: -60px;
	left: 50%;
	margin-left: -253px;
}

.portfolio__section {
	display: table;
	width: 100%;
	@include clearfix
}

.info,
.slider {
	display: table-cell;
	width: 50%;
	text-align: center;
}

.info__container {
	width: 320px;
	margin: 0 auto;
}

.info {
	background: #ebefe2;
	position: relative;
	height: 100%;
	vertical-align: middle;
}

.info__technologies {
	color: #4e8839;
	font-size: 16px;
	font-family: 'roboto-medium';
	text-transform: uppercase;
	display: block;
	margin-top: 50px;
}

.info__link {
	display: block;
	background: #6c9c5a;
	padding: 15px 20px 15px 20px;
	height: 45px;
	width: 200px;
	border-radius: 20px;
	font-size: 16px;
	font-family: 'roboto-medium';
	color: #fff;
	margin: 0 auto;
	margin-top: 50px;
}

.info__link .fa {
	margin-right: 5px;
}

.info__link:hover {
	background: #5f8d4e;
	transition: .3s ease-in;
}

.slider {
	height: 100%;
	background: #e1e4d7;
}

.slider__current-item {
	width: 100%;
	height: 525px;
	padding: 50px 0;
}

.slider__current-image {
	background: url('../img/slide1.png');
	background-position: center top;
	background-repeat: no-repeat;
	background-size: auto 100%;
	width: 100%;
	height: 100%;
}

.slider__switches {
	height: 226px;
	width: 100%;
	@include clearfix
}

.slider__next-slide,
.slider__previous-slide {
	float: left;
	width: 50%;
	height: 100%;
	position: relative;
	box-shadow: inset 0 0 0 9999px rgba(176,183,170,0.7);
	transition: box-shadow 0.4s ease-in-out;
}

.slider__next-slide:hover,
.slider__previous-slide:hover {
	box-shadow: inset 0 0 0 9999px rgba(147,153,141,0.7);
}

.slider__next-slide {
	background: url('../img/slide1.png');
	background-position: center top;
  	background-repeat: no-repeat;
  	background-size: auto 100%;
}

.slider__previous-slide {
	background: url('../img/slide1.png');
	background-position: center top;
  	background-repeat: no-repeat;
  	background-size: auto 100%;
}

.prev-slide-arrow,
.next-slide-arrow {
	fill: #fff;
	width: 43px;
	height: 27px;
	position: absolute;
	left: 50%;
	margin-left: -22px;
	top: 50%;
	margin-top: -14px;
	z-index: 1;
	text-shadow: 0 2px 2px rgba(0,0,0,0.5);
}