.portfolio {
	position: relative;
}

.portfolio__title-background {
	fill: #eef4e1;
	width: 506px;
	height: 165px;
	position: absolute;
	top: -60px;
	left: 50%;
	margin-left: -253px;
}

.portfolio__section {
	display: table;
	width: 100%;
	@include clearfix
}

.info,
.slider {
	display: table-cell;
	width: 50%;
	text-align: center;
}

.info__container {
	position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
	margin: auto;
}

.info {
	background: #ebefe2;
	position: relative;
	height: 100%;
	vertical-align: middle;
	overflow: hidden;
}

.info__technologies {
	color: #4e8839;
	font-size: 16px;
	font-family: 'roboto-medium';
	text-transform: uppercase;
	display: block;
	margin-top: 50px;
}

.info__item.active {
	left: 0;
}

.info__list {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    height: 100%;
}

.info__link {
	display: block;
	background: #6c9c5a;
	padding: 15px 20px 15px 20px;
	height: 45px;
	width: 200px;
	border-radius: 20px;
	font-size: 16px;
	font-family: 'roboto-medium';
	color: #fff;
	margin: 0 auto;
	margin-top: 50px;
}

.info__link .fa {
	margin-right: 5px;
}

.info__link:hover {
	background: #5f8d4e;
	transition: .3s ease-in;
}

.info__item {
    position: absolute;
    left: 150%;
    right: 0;
    top: 50%;
    margin: auto;
    width: 320px;
    transform: translateY(-50%);
}

.slider {
	height: 100%;
	background: #e1e4d7;
}

.slider__current-item {
	width: 100%;
	height: 525px;
	padding: 50px 0;
	position: relative;
	overflow: hidden;
}

.current-list__item {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 100%;
    right: 0;
}

.current-list__item.active {
	left: 0;
}

.current-list__item img {
	max-width: 80%;
	max-height: 80%;
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

.slider__switches {
	height: 226px;
	width: 100%;
	@include clearfix
}

.slider__next-slide,
.slider__previous-slide {
	float: left;
	width: 50%;
	height: 100%;
	position: relative;
	overflow: hidden;

	&:after {
		content: '';
		position: absolute;
		top: 0;
	    left: 0;
	    bottom: 0;
	    right: 0;
		box-shadow: inset 0 0 0 9999px rgba(176,183,170,0.7);
		transition: box-shadow 0.4s ease-in-out;
	}

	&:hover:after{
		box-shadow: inset 0 0 0 9999px rgba(147,153,141,0.7);
		cursor: pointer;
	}
}

.prev-slide-arrow,
.next-slide-arrow {
	fill: #fff;
	width: 43px;
	height: 27px;
	position: absolute;
	left: 50%;
	margin-left: -22px;
	top: 50%;
	margin-top: -14px;
	z-index: 1;
	text-shadow: 0 2px 2px rgba(0,0,0,0.5);
	cursor: pointer;
	transition: all 0.4s ease-in-out;

	&:hover {
		top: 60%;
	}
}

.next-slide-arrow:hover {
	top: 40%;
}

.slider__list {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.slider__next-slide .slider__item {
	top: 100%;
}

.slider__item {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	top: -100%;
}

.slider__item.active {
	top: 0%;
}
.slider__item img {
	max-width: 90%;
	max-height: 90%;
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}