.about-me {
	display: table;
	@include clearfix;
}

.about-me__info {
	width: 50%;
	display: table-cell;
	padding: 10px;
	background: #ebefe2;
	height: 100%;
	@include clearfix;
}

.about-me__skills {
	width: 50%;
	display: table-cell;
	padding: 20px 40px 35px;
}

.about-me__info-title-wrapper {
	width: 50%;
	float: left;
	position: relative;
	padding: 10px;
}

.about-me__info-title-background {
	position: absolute;
	fill: #e2ebd0;
	width: 360px;
	height: 125px;
	left: 50%;
	margin-left: -180px;
	top: -47px;
}

.about-me__info-description {
	width: 50%;
	float: right;
	padding: 10px;
}

.about-me__profile-photo-wrapper {
	margin-bottom: 15px;
}

.about-me__profile-photo {
	display: block;
	width: 100%;
	height: auto;
}

.about-me__info-description-text {
	margin-top: 25px;
	margin-bottom: 0;
	color: #566358;
	font-size: 16px;
	line-height: 24px;
	font-family: 'roboto-regular';
}

.about-me__info-description-text:last-child {
	margin-top: 10px;
	margin-bottom: 0;
}

.about-me__skills-title-wrapper {
	width: 270px;
	margin: 0 auto;
	text-align: center;
}

.about-me__skills-text {
	margin: 0 0 20px 0;
	color: #566358;
	font-family: 'roboto-regular';
	font-size: 16px;
	line-height: 24px;
}

.about-me__skills-diagrams-title {
	font-weight: normal;
	color: #566358;
	font-size: 28px;
	font-family: 'roboto-medium';
	margin: 0 0 15px 0;
}

.about-me__skills-diagrams-frontend,
.about-me__skills-diagrams-backend,
.about-me__skills-diagrams-workflow {
	@include clearfix;
}

.diagram {
	@include clearfix;
}

.diagram__item {
	float: left;
	width: 120px;
	height: 120px;
	margin: 0 40px 20px 0;
	display: table;
	position: relative;
}

.diagram__item:last-child {
	margin-right: 0;
}

.diagram__name {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	color: #4e8839;
	font-size: 14px;
	font-family: 'roboto-medium';
	padding: 0 24px;
}

.diagram__circle {
	fill: none;
    stroke-width: 20;
    width: 120px;
    height: 120px;
    position: absolute;
}

.diagram__circle-background {
	r: 50;
	cx: 60; 
	cy: 60; 
	stroke: #dfdcd5;
	fill: none;
}

.diagram__circle-sector {
    stroke-dasharray: 250 750;
    r: 50;
    cx: 60;
    cy: 60;
    stroke: #74a163;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}