extends ../_template

block variables
	- var title = 'About'
	- var left = 'triangle__left'
	- var right = 'triangle__right'
block content
	include ../common/_header
	include ../common/_skills
	include ../common/_map
	include ../common/_footer.pug