extends ../_template

block variables
	- var title = 'Welcome'
block content
	- var icons = ['vk', 'github', 'in']
	.welcome
		.welcome__top-line
			a.welcome__login-link Авторизоваться
		form.welcome__form
			.avatar
				img(src='assets/img/avatar.jpg', class='avatar__image' alt='Мой аватар')
			.caption
				h3.caption__title Бурдюк Алексей
				p.caption__description Личный сайт веб разработчика
			.social-icons.social-icons_centered
				ul.icons
					each icon in icons
						li.icons__item
							a.icons__link
								+svg(icon, 'icons__image_dark icons__image_' + icon)
			.welcome__form-links
				a.form-link.form-link_work Мои работы
				a.form-link.form-link_about Обо мне
				a.form-link.form-link_blog Блог
		.copyright 
			|© Бурдюк Алексей | создано с любовью в LoftSchool | 2016
