extends ../_template

block variables
	- var title = 'Works'
	- var left = 'triangle__left_white'
	- var right = 'triangle__right'
block content
	include ../common/_portfolio
	include ../common/_about